*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calendar{
    background: url(../img/alpaca.jpg) no-repeat center center/cover;
    width: 320px;
    min-width: 240px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    border-radius: 6px;
    position: relative;
    z-index: 0;
    padding-bottom: 8px;
}
.calendar::before{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(19, 20, 23, 0.9);
    border-radius: 6px;
    z-index: -1;
}

.calendar__months{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 8px 16px 8px;
}
.calendar__button{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.calendar__icon{
    width: 8px;
    height: 12px;
    color: #ffff;
}
.calendar__icon--rotate{
    transform: rotate(180deg);
}
.calendar__month{
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
}
.calendar__days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 8px;
}
.calendar__day{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 0;
}

.calendar__day--start{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.calendar__day--end{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.calendar__day--start:before, .calendar__day--end:before{
    content: ' ';
    position: absolute;
    top: 2px;
    right: 2px;
    left: 2px;
    bottom: 2px;
    background: rgba(19, 20, 23, 0.3);
    border: 1px solid rgba(19, 20, 23, 0.1);
    border-radius: 50%;
    z-index: -1;
}
.calendar__day--next{
    color: rgba(255, 255, 255, 0.5);
}

.calendar__day--active{
    background-color: #2D9CDB;
    color: #ffffff;
}